* {
	padding: 0;
	margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

body {
   font-family: 'Slabo 27px', serif;
   	font-size: 62.5%; /* 1.4em = 14pt */
	color: #37474F;
    font-size: 1.1em;
}

.testa {
   position: absolute;
   width: 100%;
   height: 220px;
   text-align: center;
   background-color: #000000;
   opacity: 0.6;
} 

#pizza {
	position: fixed;
    margin: 10px 0px 0px 50px;
}

.top-nav {
	width: 1100px;
	height: 115px;
	position: absolute;
	left: 50%;
	margin-left: -550px;

}
/*
.page-logo {
	fill: #FFFFFF;
	float: left;
	margin-top: 33px;
} */

.top-nav .navig {
	list-style: none;
	margin-top: 167px;
}

.top-nav .navig li a {
	text-decoration: none;
	display: inline-block;
	float: right;
	color: #FFFFFF;
	font-size: 1.1em;
	padding: 17px 14px 13px 14px;
	font-style: italic;
	opacity: 0.9;
}

.top-nav .navig li a:hover {
	background-color: #FFFFFF;
	color: #000000;
	opacity: 0.7;
}

.top-nav .hamburger-nav {
	display: none;
}


.article-header {
	background-image: url("ristorante.jpg");
	width: 100%;
	height: 100vh;
	background-position: 60%;
	overflow: hidden;
}

#welcome {
	position: absolute;
	z-index: 15;
	font-style: italic;
	color: #FFFFFF;
    margin: 38px 0px 0px 270px;
    opacity: 0.8;
	
	
}

#welcome h1 {
    font-size: 5em;	
}

#welcome h3 {
	font-size: 0.9em;
	margin-top: -10px;
}

.articles-wrapper {
	height: auto;
    margin: 0 auto;	
	padding-left: 190px;
	width: 90%;
	max-width: 1200px;	
}


.articles {
    clear: both;
    margin: 0px -50px 0px 50px;
    opacity: 0;	
	transition: all 400ms ease-in;
}

.js-articles-animation {
	opacity: 1;
    margin: 0px 0px 0px 0px;
}

.articles article.art {
	width: 33%;
	height: auto;
	padding: 2%;
	display: inline-block;
}

.articles .art h3 {
	text-transform: uppercase;
	padding: 1em 0em 1em 0em; 	
}

.articles .art p {
	padding: 1em 0em 1em 0em; 	
}

.articles .art img.artimage {
	width: 100%;
	height: auto;
}

/* TO BE CONTINUED...

@MEDIA ETC. */





